PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2025-03-30 11:04:21.152632');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2025-03-30 11:04:21.170186');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2025-03-30 11:04:21.213649');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'1','Obito',1,'[{"added": {}}]',7,1,'2025-03-30 11:09:01.051767');
INSERT INTO django_admin_log VALUES(2,'1','Tell the kid i love them',1,'[{"added": {}}]',8,1,'2025-03-30 11:17:46.086156');
INSERT INTO django_admin_log VALUES(3,'1','Obito',2,'[{"changed": {"fields": ["User"]}}]',7,1,'2025-03-30 15:25:18.390958');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$870000$UtM3Qafx6Pe4zlOeCzv2bW$Tz7fZU6ztJp5LkwJt21Zpau2eNJoPE4HEHznbUt63/Q=','2025-03-30 15:25:06.541297',1,'vipcb04','','nhatvan200456@gmail.com',1,1,'2025-03-30 11:04:56.721369','');
INSERT INTO auth_user VALUES(2,'pbkdf2_sha256$870000$lEdFpCua5YLy7pe5V7edIP$/EbpNUqmNLn8H2Rd0ox9MOEvc5+niFKMAi67PtoVZ1c=','2025-03-30 15:25:42.243803',0,'vanhat1','','',0,1,'2025-03-30 13:28:58.939733','');
INSERT INTO auth_user VALUES(3,'pbkdf2_sha256$870000$0QAa8j5bgs9vAg9NXXZeXO$yzSRI/5TIMJ3uaN/z93aH1176WsolbmrIMKCkhD8F7c=','2025-03-30 15:25:31.604902',0,'vanhat','','',0,1,'2025-03-30 13:31:03.931043','');
CREATE TABLE IF NOT EXISTS "music_app_playlist" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(100) NOT NULL, "created_at" datetime NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "music_app_playlist_songs" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "playlist_id" bigint NOT NULL REFERENCES "music_app_playlist" ("id") DEFERRABLE INITIALLY DEFERRED, "song_id" bigint NOT NULL REFERENCES "music_app_song" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('2o9t8l3ga8wf5qqgbojjm2l1o1mbc094','.eJxVjEEOwiAQRe_C2pCBAmFcuvcMBJhBqgaS0q6Md9cmXej2v_f-S4S4rTVsg5cwkziLSZx-txTzg9sO6B7brcvc27rMSe6KPOiQ1078vBzu30GNo35rRVonT2Ac6UKeirPsyAAqjc4gW0BbcpqIXdFgFGTwFp2ybFMuiOL9AdtGN4Y:1tytEv:7z5ESNP4YgU1kFvno_RfvDEs_wWU_6Im-E_mnhmeWEw','2025-04-13 14:02:17.697499');
INSERT INTO django_session VALUES('fokts16xqkc3g3i6xyysh3cr112dsqnv','.eJxVjEEOwiAQRe_C2hBBmCku3XuGZmAGqRpISrsy3l2bdKHb_977LzXSupRx7TKPE6uzcurwu0VKD6kb4DvVW9Op1WWeot4UvdOur43ledndv4NCvXzrUxaWAZJxgQc6eqYsKAFCysaGGBCRXXaA3oqFxBDRYwThBM5INur9AQRAOJE:1tytxa:d_mLevZ51qusid7_xrUw4xYqczMJkG-nyKamQquJeW8','2025-04-13 14:48:26.944290');
INSERT INTO django_session VALUES('70pz33qb48ur9cozeqfe3o37nbcdld6j','.eJxVjEEOwiAQRe_C2pACU6Au3XsGMgyDVA0kpV0Z765NutDtf-_9lwi4rSVsnZcwJ3EWWpx-t4j04LqDdMd6a5JaXZc5yl2RB-3y2hI_L4f7d1Cwl2-NUQ82M3jvwKF30XACTyqiNYbGiRRkQNCDn4BcppSU5UyjQdSctRXvD-rnOGU:1tyuXe:PWGXW7wjxSPnGIAu-mT0cnRCbHEk5gYtuhNcPKxCBmw','2025-04-13 15:25:42.267978');
CREATE TABLE IF NOT EXISTS "music_app_song" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(100) NOT NULL, "audio_file" varchar(100) NOT NULL, "cover_image" varchar(100) NULL, "created_at" datetime NOT NULL, "artist_id" bigint NOT NULL REFERENCES "music_app_artist" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO music_app_song VALUES(1,'Tell the kid i love them','songs/Obito_-_Tell_The_Kids_I_Love_Them_ft._SHIKI.mp4','covers/Untitled.png','2025-03-30 11:17:46.086156',1);
INSERT INTO music_app_song VALUES(3,'Berlin','songs/videoplayback_1_DDsoKDs.weba','covers/myimage_yBbeZzN.jpg','2025-03-30 15:18:38.208796',2);
CREATE TABLE IF NOT EXISTS "music_app_artist" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "bio" text NOT NULL, "image" varchar(100) NULL, "user_id" integer NULL UNIQUE REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO music_app_artist VALUES(1,'Obito','chi don gian la 1 rapper cuc chat','artists/obito.png',2);
INSERT INTO music_app_artist VALUES(2,'Khoi Vu','chi don gia la 1 ca si qua duong','artists/khoivu.png',4);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',23);
INSERT INTO sqlite_sequence VALUES('django_admin_log',3);
INSERT INTO sqlite_sequence VALUES('django_content_type',9);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "music_app_playlist_user_id_039dbd80" ON "music_app_playlist" ("user_id");
CREATE UNIQUE INDEX "music_app_playlist_songs_playlist_id_song_id_9f536ca0_uniq" ON "music_app_playlist_songs" ("playlist_id", "song_id");
CREATE INDEX "music_app_playlist_songs_playlist_id_3cb1eb77" ON "music_app_playlist_songs" ("playlist_id");
CREATE INDEX "music_app_playlist_songs_song_id_830b76f4" ON "music_app_playlist_songs" ("song_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "music_app_song_artist_id_4f34b234" ON "music_app_song" ("artist_id");
COMMIT;
